body {
    margin: 0;
    font-size: 2vmax;
}

.background {
    margin: 0;
    padding: 1em;
    width: calc(100vw - 2em);
    height: calc(100vh - 2em);

    background-image: url("images/dark_space.png");
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    animation-name: background;
    animation-duration: 180s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.flex-box {
    overflow: auto;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-around;  
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

@keyframes background {
    0%      {background-position: top;}
    25%     {background-position: right;}
    50%     {background-position: bottom;}
    75%     {background-position: left;}
    100%    {background-position: top;}
}

.glow {
    box-shadow: 0 0 1em #9ecaed;
}

.center {
    text-align: center;
}

.vertical-center {
    vertical-align: super;
}

.full {
    width: calc(100vmax - 4.2em);
}

.half {
    width: calc(50vmax - 4.2em);
}

.half-square {
    width: calc(50vmax - 4.2em);
    height: calc(50vmax - 4.2em);
}

.panel {
    border: 0.1em solid #fff;
    border-radius: 1em 0.5em;
    
    padding: 0.5em;
    margin: 1em;

    background-color: rgba(51, 51, 51, 0.7);

    font-family: 'Secular One';
    color: #fff;
    text-shadow: 0 0 0.1em #9ecaed;
}

.map {
    border: 0.1em solid #fff;
    border-radius: 1em 0.5em;
    
    padding: 0.5em;
    margin: 1em;
}

input {
    border: 0.1em solid #fff;
    border-radius: 0.5em;
    margin: 0.2em;
    padding: 0.2em;
    width: calc(100% - 1em);
    font-size: 2vmax;
}

input[type=button] {
    width: calc(100% - 0.4em);
    cursor: pointer;
}

input:hover {
    box-shadow: 0 0 1em #9ecaed;
}

.planet {
    position: relative;
    width: 8vmax;
    height: 8vmax;
}

.planet:hover {
    box-shadow: 0 0 1em #9ecaed;
    border-radius: 4vmax;
}

.selected {
    box-shadow: 0 0 1em #9ecaed;
    border-radius: 4vmax;
}

